<!-- About Section -->
<style>
.about{
	text-align:center;
}

.about .loc{
	font-weight: bold;
}


</style>
<section class="success" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row about">
			Hackhers is a hackathon organized by Rutgers University's Women in Computer Science, along with Douglass Residential College and The Douglass Project.
			We want to create a space in which women of different backgrounds and academic disciplines can come together and be empowered to create.
			At this hackathon, women (and men) will get involved in learning, planning, and developing apps that will foster growth and productivity among women who want to code.
		</div>
	</div>
</section>
