<!-- About Section -->
<style>


</style>
<section class="" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>FAQ</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row about">
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>What is a hackathon?</strong> 
				</p>
								A hackathon is an event where curious people get together to work on developing software projects in a short amount of time. 
				Participants typically start by brainstorming, they get an idea, plan it, and implement the code for it.				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>Why a hackathon for women?</strong>
				</p>
								We want more women to get involved in software development because ultimately, the variety of software products available to the 
				world would be much greater if more women started hacking now.				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>I don't have any coding experience, can I still participate?</strong>
				</p>
								Yes! A hackathon provides the perfect environment for you to learn how to code quickly. All you have to do is try something and
				the experience automatically follows.				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>I'm a man, can I still participate?</strong>
				</p>
								Yes! We believe that it is very important for both sexes to work together and build awesome projects! If you plan on attending, and you identify 
				as male, you will need to be part of a team that is at least 50% female.				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>Where will Hackhers take place?</strong>
				</p> 
									Cook Campus Center
					<br>59 Biel Road
					<br>New Brunswick, NJ 08901-8508
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>Do I need a team?</strong>
				</p>
								You can work alone if you choose. However, teamwork is a valuable skill. Just remember to keep teams at a max of 4 members.				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>Can I come if I am still in high school?</strong>
				</p>
								Unfortunately, HackHers cannot host high school students (but we still encourage you to go out and build to your heart's content!)				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>What should I bring?</strong>
				</p>
								Please bring a laptop, and an extension cord if you have one. Since we will be hacking overnight, you might also want to bring a sleeping bag, a change of clothes, and
				a toothbrush/toothpaste.				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>How much will it cost?</strong>
				</p>
								Hackhers is 100% free! That includes admission, food, swag, etc. The only thing we ask is for you to have an open mind, put in honest effort, and have a positive attitude :)				
			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>What about travel?</strong>
				</p>
								We will not be able to provide buses, however, we will be reimbursing for travel. People coming from NJ/NY /PA will be reimbursed up to $25 with travel receipts. People coming 
				from outside of these areas will be reimbursed up to $100 with travel receipts. Feel free to contact us at <a href="mailto: rutgers.hackhers@gmail.com" style="background-color: transparent;">rutgers.hackhers@gmail.com</a> with regards to reimbursements.				

			</div>
			
			<div class="col-xs-6 col-md-4">
				<p>
					<strong>This looks like a cool event! Can we sponsor?</strong>
				</p>	Absolutely!  Feel free to contact us at <a href="mailto: rutgers.hackhers@gmail.com" style="background-color: transparent;">rutgers.hackhers@gmail.com</a> and we will connect you with our sponsorship team.				

			</div>
			
		</div>
	</div>
</section>
