<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--<a class="navbar-brand" href="#page-top">{{ site.title }}</a>-->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			<li class="hidden">
				<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
				<a href="#about">About</a>
				</li>
				<li class="page-scroll">
				<a href="#schedule">Schedule</a>
				</li>
				<li class="page-scroll">
					<a href="#resources">Resources</a>
				</li>
				<li class="page-scroll">
				<a href="#faq">FAQ</a>
				</li>
				<li class="page-scroll">
				<a href="#getinvolved">Get Involved</a>
				</li>
				<li class="page-scroll">
				<a href="#sponsors">Sponsors</a>
				</li>
				<li class="page-scroll">
				<a href="#contact">Contact</a>
				</li>
				

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
						<a id="mlh-trust-badge" style="background-color: transparent; position:fixed;top:0;left:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>
				<img class="img-responsive" src="img/hackhers2016_logo.png" alt="" style="height:75%; width:75%;">
				<div class="intro-text">
					<span class="name">February 27 & 28, 2016</span>
					<span class="name2">Cook Campus Center</span>
					<span class="name3">59 Biel Road<br>New Brunswick, NJ 08901</span>
					<hr class="star-primary-header">
				</div>
			</div>
		</div>
	</div>
</header>

