<section class="success" id="register">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Register</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row about">
		<div class="col-xs-6 col-md-4 text-center" style="float:right;">
			<p><a class="typeform-share button" href="https://rutgershackhers.typeform.com/to/WNwb3z" data-mode="1" target="_blank">I want to hack!</a>
<script src="http://www.foxyform.com/js.php?id=722850&amp;sec_hash=43d79b2a6ab&amp;width=350px"></script><script id="typef_orm" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/share.js"></script><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
			</p></div>			
			
			<div class="col-xs-6 col-md-3 text-center" style="float:right;">
			<p><a class="typeform-share button" href="https://rutgershackhers.typeform.com/to/krnZxG" data-mode="1" target="_blank">I want to volunteer!</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
			</p></div>
			
			
			<div class="col-xs-6 col-md-3 text-center" style="float:right;">
			<p><a class="typeform-share button" href="https://rutgershackhers.typeform.com/to/OFhYWx" data-mode="1" target="_blank">I want to mentor!</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
			</p></div>
		</div>
		</div>
	</div>
</section>

