<section class="" id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Schedule</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<style type="text/css">
.tg1  {border-collapse:collapse;border-spacing:0;}
.tg1 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;
	overflow:hidden;
	word-break:normal;}
.tg1 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg1 .tg-hgcj{font-weight:bold;text-align:center}

.tg1 tr{
	color: black;
}

.tg1 tr:nth-child(even) {
	background-color:#94dbff;
}

.tg1 tr:nth-child(odd){
	background-color:#d4f1ff;
}

.sched{
	text-align: left;
	line-height: 170%;
}

.sched td{
	padding-left: 5px;
	padding-right: 5px;
}
.footnotes{
	text-align: center;
	font-size: 14px;
}


				</style>
				<table class="row sched">
					<tr>
						<td></td>
						<td><h4>Saturday</h4></td>
					</tr>
					<tr>
						<td class="tg-031e">9:00 AM</td>
						<td class="tg-031e">Check-in &amp; Puzzles, Games</td>
					</tr>
					<tr>
						<td class="tg-031e">10:00 AM</td>
						<td class="tg-031e">Introduction to Hacking* &amp; Breakfast</td>
					</tr>
					<tr> 
						<td class="tg-031e bob">10:15 AM</td>
						<td class="tg-031e">Introduction to API*</td>
					</tr>
					<tr>
						<td class="tg-031e">11:00 AM</td>
						<td class="tg-031e">Annoucement &amp; Company plugs &amp; Logistics</td>
					</tr>
					<tr>
						<td class="tg-031e">12:00 PM</td>
						<td class="tg-031e">Lunch &amp; Hacking Begins &amp; Team Building</td>
					</tr>
					<tr>
						<td class="tg-031e">12:30 PM</td>
						<td class="tg-031e">CSS HTML Workshop+</td>
					</tr>
					<tr>
						<td class="tg-031e">1:30 PM</td>
						<td class="tg-031e">JavaScript Workshop+</td>
					</tr>
					<tr>
						<td class="tg-031e">2:00 PM</td>
						<td class="tg-031e">Git Workshop+ &amp; Tech Talk 1</td>
					</tr>
					<tr>
						<td class="tg-031e">2:30 PM</td>
						<td class="tg-031e">Hosting Workshop+</td>
					</tr>
					<tr>
						<td class="tg-031e">2:45 PM</td>
						<td class="tg-031e">Life After College</td>
					</tr>
					<tr>
						<td class="tg-031e">3:00 PM</td>
						<td class="tg-031e">Android Workshop &amp; Snacks!</td>
					</tr>
					
				</table>
			</div>
			<div class="col-lg-4">
				<p>
				<style type="text/css">
.tg2  {border-collapse:collapse;border-spacing:0;}
.tg2 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;overflow:hidden;word-break:normal;}
.tg2 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg2 .tg-hgcj{font-weight:bold;text-align:center}

.tg2 tr{
	color: black;
}

.tg2 tr:nth-child(odd) {
	background-color:#94dbff;
}

.tg2 tr:nth-child(even){
	background-color:#d4f1ff;
}
				</style>
				<table class="sched">
					<tr>
						<td class="tg-031e">4:00 PM</td>
						<td class="tg-031e">Tech Talk 2</td>
					</tr>
					<tr>
						<td class="tg-031e">4:30 PM</td>
						<td class="tg-031e">Tech Talk 3</td>
					</tr>
					<tr>
						<td class="tg-031e">5:00 PM</td>
						<td class="tg-031e">Elaine's Tech Talk</td>
					</tr>
					<tr>
						<td class="tg-031e">6:00 PM</td>
						<td class="tg-031e">Pebble Workshop</td>
					</tr>
					<tr>
						<td class="tg-031e">7:00 PM</td>
						<td class="tg-031e">Dinner!</td>
					</tr>
					<tr>
						<td class="tg-031e">11:00 PM</td>
						<td class="tg-031e">Cupcake Decorating Contest!!</td>
					</tr>
					<tr></tr>
						<td></td>
						<td><h4>Sunday</h4></td>
					</tr>
					<tr>
						<td class="tg-031e">12:00 AM</td>
						<td class="tg-031e">Snax snax</td>
					</tr>
					<tr>
						<td class="tg-031e">1:00 AM</td>
						<td class="tg-031e">Real Food</td>
					</tr>
					<tr>
						<td class="tg-031e">5:00 AM</td>
						<td class="tg-031e">Breakfast</td>
					</tr>
					<tr>
						<td class="tg-031e">9:00 AM</td>
						<td class="tg-031e">Hacking Ends!!!! &amp; Food</td>
					</tr>
					<tr>
						<td class="tg-031e">9:00 AM</td>
						<td class="tg-031e">Judging &amp; Prizes</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="footnotes">
			<p>*Workshops beneficial to first time hackers and beginners</p>
			<p>+Introduction coding workshops</p>
		</div>
	</div>
</section>
