<style>

</style>
<section class="" id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Sponsors</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<!--GOLD:-->
					<img src="img/sponsors/microsoft_logo.png" style="height: 25%; width: 25%; margin: 0 20px 20px 20px; display: inline-block;"/>
					<img src="img/sponsors/icims_logo.png" style="height: 25%; width: 25%; margin: 0 20px 20px 20px; display: inline-block;"/>
					<img src="img/sponsors/ups_logo.png" style="height: 15%; width: 15%; margin: 0 20px 20px 20px; display: inline-block;"/>
					<br>
				<!--SILVER:--> 
					<img src="img/sponsors/att.png" style="height: 25%; width: 25%; margin: 0 20px 20px 20px; display: inline-block;"/>
					<img src="img/sponsors/bloomberg_logo.png" style="height: 25%; width: 25%; margin: 0 20px 20px 20px; display: inline-block;"/>
					<br>
				<!--BRONZE:-->
					<img src="img/sponsors/cp_logo.png" style="height: 25%; width: 25%; margin: 0 20px 20px 20px; display: inline-block;"/>
					<img src="img/sponsors/prudential_logo.png" style="height: 25%; width: 25%; margin: 0 20px 20px 20px; display: inline-block;"/>
			</div>

		</div>
	</div>
</section>
